@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-purple-color: #8854c0;
  --lighter-purple-color: #a06cd7;
  --light-color: #fff;
  --dark-color: #000;
  --grey-color: #f2f2f2;
  --transition: all 300ms ease-in-out;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: url(https://images.unsplash.com/photo-1568738351265-c7065f5d4293?w=900)
    50% / cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  min-height: 100vh;
  color: black;
  background-color: grey;
}

.wrapper {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1.5rem 4rem 3rem 4rem;
  width: 600px;
  height: 700px;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  position: relative;
  box-shadow: 0 4px 6px rgba(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
}

.quiz-title {
  margin-top: 2rem;
  text-align: center;
  font-size: 3.5rem;
  font-family: "Luckiest Guy", cursive;
}

.quiz-score {
  text-align: right;
  font-weight: 600px;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  width: 150px;
  height: 50px;
  /*  margin: 0.5rem auto; */
  color: var(--light-purple-color);
}

.quiz-question {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.3;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  min-height: 50px;
}

.current-level {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
}

.quiz-options {
  list-style-type: none;
  margin: 1rem 0;
}

.quiz-options li {
  /*  border: none; */
  border-radius: 0.5rem;
  font-weight: 600;
  margin: 0.7rem 0;
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  background-color: var(--light-purple-color);
  color: white;
  box-shadow: 0 4px 0 0 #6c4298;
  transition: var(--transition);
  height: 36px;
}

.quiz-options li:hover {
  background-color: #9864d0;
  color: var (--light-color);
  /*  box-shadow: 0 4px 0 0 #6c4298; */
}

.quiz-options li:active {
  transform: scale(0.97);
}

/*  /* selected button styling  
.selected {
  background-color: grey !important;
  color: darkgrey !important;
  border-color: darkgrey !important;
  box-shadow: 0 4px 0 0 #bbb !important;
}
 */
.quiz-foot {
  display: flex;
  justify-content: space-between;
  /* margin-top: 3.5rem; */
}

.quiz-foot button {
  flex-grow: 1;
  flex-basis: 40%;
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--grey-color);
  color: var(--dark-color);
  letter-spacing: 2px;
  transition: var(--transition);
  box-shadow: 0 4px 0 0 #bbbbbb;
  height: 50px;
}

.quiz-foot button:hover {
  background-color: #e6e6e6;
  box-shadow: 0 4px 0 0 #a7a7a7;
}

.quiz-foot button:active {
  transform: scale(0.95);
}

/* /* messages */

/* Apply opacity transition to the result message */
/* .msg {
  opacity: 1;
  transition: opacity var(--transition);
} */

#result {
  padding: 0.7rem 0;
  text-align: center;
  font-size: 1.2rem;
  min-height: 60px;
}

/* #result i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--light-purple-color);
  color: var(--light-color);
} */

/* Dropdown Menu */
.box {
  position: relative;
}
.btn-dropdown {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background: #6666e2;
  color: #fff;
  font-size: 1.25rem;
  outline: none;
  cursor: pointer;
}
.btn-dropdown::after {
  display: inline-block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  margin-left: 10px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  vertical-align: 4px;
  content: "";
}
.btn-dropdown:hover {
  opacity: 0.9;
}
.nav-dropdown {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  padding: 10px 0;
  border-radius: 4px;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.nav-dropdown ul {
  list-style-type: none;
}
.nav-dropdown ul li {
  padding: 8px 0;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.nav-dropdown ul li a {
  display: block;
  color: #3d3935;
  text-decoration: none;
}
.nav-dropdown ul li:hover {
  background-color: #6666e2;
}
.nav-dropdown ul li:hover a {
  color: #fff;
}
.nav-dropdown.is-open {
  display: block;
}
.btn-dropdown.is-open::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  vertical-align: middle;
}

/* Media queries */
@media (max-width: 678px) {
  .quiz-title {
    font-size: 1.6rem;
  }
  .wrapper {
    margin: 3rem 0;
    width: 90%;
    height: 90%;
    padding: 1.5rem 1rem 3rem 1rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .quiz-foot button {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .quiz-foot {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .quiz-foot button {
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .quiz-score {
    margin-bottom: 0;
  }
}

/* Dropdown Menu  */
@media screen and (max-width: 480px) {
  #container {
    align-items: flex-start;
  }
}
